[submodule "ext/dbus-flashmq"]
	path = ext/dbus-flashmq
	url = https://github.com/M-o-a-T/dbus-flashmq.git
[submodule "ext/flashmq"]
	path = ext/flashmq
	url = https://github.com/M-o-a-T/flashmq.git
[submodule "ext/dbus-serialbattery"]
	path = ext/dbus-serialbattery
	url = git@github.com:mr-manuel/venus-os_dbus-serialbattery.git
[submodule "ext/meter_library"]
	path = ext/meter-library
	url = https://github.com/M-o-a-T/victron-twe-meter-library.git
