[Unit]
Description=Per-User FlashMQ MQTT server

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=infinity
ExecStartPre=/usr/lib/venusian/bin/gen-flashmq-conf /run/user/%U/flashmq.conf
ExecStart=/usr/bin/flashmq --config-file /run/user/%U/flashmq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

EnvironmentFile=-/etc/venusian/vars
EnvironmentFile=-/etc/venusian/%u/%N
EnvironmentFile=-/run/user/%U/vars
EnvironmentFile=-/run/user/%U/%N
ConditionEnvironment=MQTT

[Install]
WantedBy=multi-user.target
