[Unit]
Description=Serve an MK3 interface on %i
After=gui.service localsettings.service
Requires=localsettings.service

[Service]
Type=simple
ExecStart=/opt/victronenergy/mk2-dbus/start-mk2-dbus.sh %i PRODUCT=MK3-USB_Interface
Restart=always
RestartSec=5
EnvironmentFile=-/run/user/%U/env/%p
EnvironmentFile=-/run/user/%U/env/%N
