[Unit]
Description=Serve an MK3 interface on %i
After=gui.service localsettings.service
Requires=localsettings.service

[Service]
Type=simple
ExecStart=/opt/victronenergy/dbus-modbus-client/dbus-modbus-client.py -s %i -r ${RATE} -m ${MODE}
Restart=always
RestartSec=5
Environment=MODE=rtu
EnvironmentFile=-/etc/venusian/vars
EnvironmentFile=-/etc/venusian/%u/vars
EnvironmentFile=-/etc/venusian/%u/%p
EnvironmentFile=-/etc/venusian/%u/%N
EnvironmentFile=-/run/user/%U/vars
EnvironmentFile=-/run/user/%U/%p
EnvironmentFile=-/run/user/%U/%N
