[Unit]
Description=DBUS Starter
After=localsettings.service
Requires=localsettings.service

[Service]
Type=simple
ExecStart=@USRV@/bin/udev-handler -u %u -c @LIBVV@/udev.yml -c @USRV@/udev.yml
Restart=always
RestartSec=15
EnvironmentFile=-/run/user/%U/env/%N
