[Unit]
Description=Serve a VE-Direct interface on %i
After=gui.service localsettings.service
Requires=localsettings.service

[Service]
Type=simple
ExecStart=/opt/victronenergy/vedirect-interface/start-vedirect.sh %i PRODUCT=VE_Direct_cable
Restart=always
RestartSec=5
EnvironmentFile=-/etc/venusian/vars
EnvironmentFile=-/etc/venusian/%u/%p
EnvironmentFile=-/etc/venusian/%u/%N
EnvironmentFile=-/run/user/%U/vars
EnvironmentFile=-/run/user/%U/%p
EnvironmentFile=-/run/user/%U/%N
